* {
  background-color: rgb(134, 181, 219);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

nav {
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

nav a {
  display: block;
  padding: 15px 20px;
  line-height: 1;
  background-color: white;
}

nav a.active {
  background-color: rgb(68, 160, 236);
  border: 1px solid black;
  color: white;
}

.activeLink {
  background-color: rgb(68, 160, 236);
  border: 1px solid black;
  color: white;
}

.container {
  width: min(100% - 40px, 1340px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: center;
}
